.App-header, body {
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  font-family: 'sans-serif', 'Helvetica Neue', 'Helvetica', 'Arial';
}

.Playlist {
  display: flex;
}

.Playlist-list {
  max-height: 75vh;
  color: white;
  border-radius: 20px;
  background-color: #121212;
  overflow-y: scroll; 
	margin: 13px;
  flex: calc(100%/3);
}

.track {
  display: grid;
  align-items: flex; 
  grid-template-columns: 2vw 4.5vw auto;
  column-gap: 1px;
  padding: 10px 50px;
}

.track:hover {
  background-color: #424242;
  cursor: pointer;
}

.three-inline-buttons .button {
  flex: calc(100%/3);
  background-color: rgb(30, 215, 96);
  border:  20px solid rgb(30, 215, 96);
  font-size: 20px;
  border-radius: 25px;
  cursor: pointer;
  margin: 150px;
}

.button {
  background-color: rgb(30, 215, 96);
  border:  15px solid rgb(30, 215, 96);
  font-size: 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.three-inline-buttons {
  display: flex;
}